.App {
  text-align: center;
}
.inp{
  width: 30vw;
  padding: 10px;
  margin: 10px;
}
table{
  width: 100%;
  padding: 10px;
}
.removeBtn{
  background-color: rgb(233, 136, 136);
  color: white;
  border: 1px solid rgb(118, 118, 118);
  cursor: pointer;
}
td,th{
  padding: 7px;
  margin: 10px;
}
.buttons{
  margin: 10px;
}
span{
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid gray;
  background-color: azure;
}
.star {
  visibility:hidden;
  font-size:20px;
  cursor:pointer;
}
.star:before {
 content: "\2605";
 position: absolute;
 visibility:visible;
}
.star:checked:before {
 content: "\2606";
 position: absolute;
}